<div class="col-md-12"></div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="page-content">
      <h1>Sign Up as an employer to post jobs.</h1>
      <%= form_for @user do |f| %>
        <div>
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div>
          <%= f.text_field :business_name, placeholder: "Business Name" %>
        </div>
        <div>
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div>
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <%= f.submit "Employer Sign Up", :class => "btn btn-warning btn-group" %>
      <% end %> 
    </div>
  </div>
</div>
