<div class="col-md-12"></div>
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="page-content">
			<h1>Welcome, <%= @user.first_name %></h1>
			<p> Here are your current job postings. Want to post a <a href="/jobs/new">Post a Job</a>? </p>
			<hr>
		
			<ul> 
			<% @user.jobs.each do |job| %>
				<li>
					<h2>Title: <%= job.title%></h2>
					<h4>Location: <%= job.location %></h4>
					<p>Description: <%= job.description %></p>
					<p>Company: <%= @user.business_name %></p>
					<a href="/jobs/<%=job.id%>">View Job</a>
				</li>
				<hr>
			<% end %>
			</ul>
		</div>
	</div>
</div>


